@import url('https://fonts.googleapis.com/css?family=PT+Sans:400,400i,700,700i&amp;display=swap');


body {
    font-family: 'PT Sans', sans-serif;
    background: #21242e;
    -webkit-font-smoothing: antialiased;
    overflow-x: hidden;
    max-width: 100vw !important;
}

.main-header {
    flex-shrink: 0;
    position: relative;
    z-index: 201;
    display: flex;
    align-items: center;
    background: #21242f;
    border-bottom: 1px solid #292e33;
    box-shadow: 0 2px 0 rgba(0,0,0,.1);
    box-sizing: border-box;
    height: 100px;
}

.header-logo-sec {
    -webkit-transform: skewX(26deg);
    transform: skewX(26deg);
    width: 225px;
    position: relative;
    left: -25px;
    align-items: center;
    justify-content: center;
    z-index: 5;
    height: 100%;
    background: #1a1c23;
    padding: 14px 15px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo {
    -webkit-transform: skewX(-26deg);
    transform: skewX(-26deg);
    max-height: none!important;
    max-width: 142.5px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
    user-drag: none;
}

.header-left-sec {
    display: flex;
}

.header-logo-sec:before {
    content: '';
    left: -25px;
    top: 0;
    bottom: 0;
    width: 25px;
    background: #1a1c23;
}

.main-menu {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    padding: 0px 15px;
    height: 100px;
    position: relative;
    z-index: 1;
}

.menu-txt {
    position: relative;
    z-index: 5;
    color: #424448;
    font-size: 15px;
    font-weight: 800;
    text-shadow: -1px 2px 0 rgba(0,0,0,.4);
    padding: 5px 0px;
    padding-right: 40px;
    height: 100%;
    transition: 250ms linear;
    width: 100%;
}

.header-menu-sec {
    -webkit-transform: skewX(26deg);
    transform: skewX(26deg);
    /* background: #1a1c23; */
    position: relative;
    left: -23px;
    z-index: 99;
    bottom: 1px;
}

.menu-item {
    -webkit-transform: skewX(-26deg);
    transform: skewX(-26deg);
    /* padding: 4px 0px; */
    display: inherit;
}

.active .menu-txt {
    color: #fff;
}

.active .menu-txt i {
    color: #c90000;
}

.menu-item:before {content: '';position: absolute;width: 6px;height: 36px;left: -15%;top: 0;z-index: -1;background: rgba(201, 0, 0, 0);-webkit-transform: skewX(26deg);transform: skewX(26deg);transition: 250ms linear;}

.header-menu-sec:after {content: '';position: absolute;left: 0;right: 0;top: 0;bottom: 0;background: #1a1c23;z-index: 0;}

.menu-item.active:before {
    background: rgb(201, 0, 0);
}

.menu-item:hover .menu-txt {
    text-decoration: none;
    color: #55585f;
}

.menu-item.active:hover .menu-txt {
    color: #fff;
}

.menu-item:hover:before {
    background: rgb(201, 0, 0);
}

.header-right-sec {
    display: flex;
    flex-direction: column;
    width: 300px;
    align-items: center;
    height: 100%;
    justify-content: space-between;
    margin-left: auto;
}

.header-selection-right.hr-bottom {
    display: flex;
    flex-shrink: 0;
    position: relative;
    align-items: flex-end;
    width: 100%;
}

.hsr-item-1 {
    color: #fff;
    background: #171a21;
    font-weight: 700;
    text-transform: uppercase;
    border: 1px solid #292e33;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    padding: 7.5px 10px;
    width: 33.3%;
    border-bottom: 2px solid rgba(201, 0, 0, 0);
    cursor: pointer;
    opacity: .5;
}
.pointer {
	cursor: pointer;
}

.hsr-img {
    height: 20px;
    width: 20px;
    margin-right: 7px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
    user-drag: none;
}

.hsr-item-2 {
    color: #fff;
    background: #171a21;
    font-weight: 700;
    text-transform: uppercase;
    border: 1px solid #292e33;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 33.3%;
    border-bottom: none;
    border-right: none;
    font-size: 15px;
    padding: 8.5px 10px;
    cursor: pointer;
}

.header-steamlogin.hr-top {
    padding-top: 15px;
}

.hsr-item-1:nth-child(2) {
    border-left: none;
    border-right: none;
}

.hsr-item-1.active {
    opacity: 1;
    border-bottom: 2px solid rgb(201, 0, 0);
}
.chat {
    width: 300px;
    background: #1c1f26;
    border-left: 1px solid #292e33;
    height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    position: relative;
    position: absolute;
    right: 0;
    transition: 300ms linear;
}

.main-app-cont {
    position: absolute;
    left: 0;
    right: 0;
    top: 100px;
    bottom: 50px;
    display: flex;
    align-items: flex-start;
    overflow-x: hidden;
    max-width: 100%;
}

.chat-addd-img {
    width: 100%;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
    user-drag: none;
}

.chat-addd {
    padding: 5px;
    background: #0a0d10;
    border-bottom: 1px solid #494b4d;
}

.chat-sec {
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow: hidden;
}



.chat-avatar-cont {
    width: 25px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 9px;
}

.chat-avatar {
    width: 100%;
    height: auto;
    border-radius: 3px;
}


.chat-name {
    display: inline-block;
    margin-right: 5px;
    font-weight: 700;
    color: #cfd0d1;
}



.chat-rank {
    color: #fff;
    margin-right: 7px;
}

.main-app {
    /* width: calc(100% - 301px); */
    display: block;
    /* height: 100%; */
    position: absolute;
    left: 0;
    right: 300px;
    top: 0;
    bottom: 0;
    overflow-x: hidden;
    overflow-y: auto;
}

.items-container {
    background: #1e2028;
    margin: 10px;
    width: 100%;
}

.items-empty-text {
    font-weight: 800;
    font-size: 18px;
    color: #98999a;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.site-page {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.jackpot-betting-area {
    width: 100%;
    padding: 0 15px 15px;
    display: flex;
}

.jackpot-game-data {
    max-width: 450px;
    width: 100%;
}

.jackpot-timer {
    flex-shrink: 0;
    display: flex;
    align-items: center;
    padding: 0 15px;
    box-sizing: border-box;
    height: 60px;
    background: #1a1c23;
    border-radius: 4px;
    width: 100%;
}

.timer-text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    flex: 1 1;
    font-weight: 800;
    font-size: 18px;
    color: #98999a;
}

.jackpot-entry-header {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #1a1c23;
    border-left: 3px solid #43454c;
    border-right: 3px solid #43454c;
    height: 40px;
    padding: 0 10px;
    border-radius: 4px 4px 0 0;
    font-size: 14px;
    font-weight: 800;
    color: #606166;
}

.jackpot-entries {
    position: relative;
    margin-top: 15px;
    padding-right: 5px;
    height: calc(100vh - 395px);
    overflow-y: auto;
    overflow-x: hidden;
}

.jackpot-entry-entries {}

.jackpot-entry-entry {
    display: flex;
    align-items: center;
    padding: 0 10px;
    height: 50px;
    background: #1e2129;
    border-left: 3px solid #43454c;
    border-right: 3px solid #43454c;
    box-sizing: border-box;
    overflow: hidden;
    animation: jackpotuserInsert 300ms linear forwards;
}

.jackpot-entry-text {
    flex: 1 1;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-weight: 600;
    color: #848894;
}

.jackpot-entry-avatar {
    width: 35px;
    height: 35px;
    border-radius: 8px;
}

.jackpot-entry-footer {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #1a1c23;
    border-left: 3px solid #43454c;
    border-right: 3px solid #43454c;
    height: 40px;
    padding: 0 10px;
    border-radius: 0 0 4px 4px;
    font-size: 14px;
    font-weight: 800;
    color: #606166;
}

.jackpot-entry {
    overflow: hidden;
    margin-bottom: 25px;
    opacity: .5;
    transition: 300ms linear;
}

.jackpot-entry-label {
    flex-shrink: 0;
    color: #4caf4f;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.jackpot-entry-hash {
    margin-left: 50px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.jackpot-winner-head-txt {
    color: #fff;
}

.jackpot-entry.current-jp-game {
    opacity: 1;
}

.jackpot-entry:hover {
    opacity: 1;
}
.jackpot-entry-value {
    flex-shrink: 0;
    font-weight: 800;
    font-size: 18px;
    -webkit-font-feature-settings: "tnum";
    font-feature-settings: "tnum";
    font-variant-numeric: tabular-nums;
    color: #fff;
}

.jackpot-entry-name {
    margin-left: 10px;
    color: #fff;
}
.footer {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 50px;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    padding: 0 15px;
    background: #1c1f26;
    border-top: 1px solid #292e33;
    box-sizing: border-box;
    box-shadow: 0 -1px 2px rgba(0,0,0,.2);
}

.sign-in-footer-sec {
    flex: 1 1;
    display: flex;
    align-items: center;
    font-weight: 600;
    color: #767880;
    overflow: hidden;
}

.sign-in-footer-sec i {
    margin-right: 7px;
    font-weight: 400;
}

.chat-links a, a.social-link i {
    background-color: rgb(201,0,0);
    background: -moz-linear-gradient(0deg, rgba(201,0,0,1) 0%, rgba(201,0,0,1) 50%, rgba(58,60,66,1) 50%, rgba(58,60,66,1) 100%);
    background-image: -webkit-linear-gradient(0deg, rgba(201,0,0,1) 0%, rgba(201,0,0,1) 50%, rgba(58,60,66,1) 50%, rgba(58,60,66,1) 100%);
    background-image: linear-gradient(0deg, rgba(201,0,0,1) 0%, rgba(201,0,0,1) 50%, rgba(58,60,66,1) 50%, rgba(58,60,66,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#c90000",endColorstr="#3a3c42",GradientType=1);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 100% 200%;
    background-position: 0% 0%;
    transition: 200ms linear;
    font-size: 16px;
    font-weight: 600;
}

.chat-links a:hover, a.social-link:hover i {
    background-position: 0% 100%;
}

.chat-divider {
    flex-shrink: 0;
    width: 3px;
    height: 3px;
    border-radius: 100%;
    background: #40444c;
    margin: 0 7px;
}

.chat-links {
    flex: 1 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.deposit-btn, .create-game-btn {
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-family: PT Sans,sans-serif;
    font-weight: 800;
    font-size: 16px;
    color: #fff;
    background: none;
    height: 40px;
    line-height: 40px;
    padding: 0 20px;
    box-sizing: border-box;
    border: none;
    border-radius: 3px;
    outline: none;
    text-decoration: none;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #fff;
    background: #4caf50;
    opacity: .8;
    transition: 200ms linear;
}

.deposit-btn:hover, .create-game-btn:hover {
    opacity: 1;
}

@-webkit-keyframes modalEnter {0%{-webkit-transform:scale(.7);transform:scale(.7);opacity:0}to{-webkit-transform:scale(1);transform:scale(1);opacity:1}}
@keyframes modalEnter {0%{-webkit-transform:scale(.7);transform:scale(.7);opacity:0}to{-webkit-transform:scale(1);transform:scale(1);opacity:1}}
@-webkit-keyframes modalLeave {0%{-webkit-transform:scale(1);transform:scale(1);opacity:1}to{-webkit-transform:scale(.7);transform:scale(.7);opacity:0}}
@keyframes modalLeave {0%{-webkit-transform:scale(1);transform:scale(1);opacity:1}to{-webkit-transform:scale(.7);transform:scale(.7);opacity:0}}

.modal.show .modal-dialog {
    -webkit-animation: modalEnter .3s ease forwards;
    animation: modalEnter .3s ease forwards;
}

#jackpotDeposit .modal-dialog, #coinflipDeposit .modal-dialog {
    width: 712px;
    max-width: none;
}

.modal-content {
    background: #2e323c;
    box-sizing: border-box;
    box-shadow: -2px 2px 0 rgba(0,0,0,.1);
    border-radius: 2px;
}

.modal-backdrop {
    background: rgba(45,49,59,.5);
}

.modal-backdrop.show {
    opacity: 1;
}

.modal-title {
    color: #fff;
    font-weight: 600;
    font-size: 18px;
}

.modal-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: none;
    margin-right: 15px;
}

.jpd-selected-value, .cfd-selected-value {
    color: rgb(76, 175, 80);
    font-weight: 600;
    font-size: 17px;
}

.jpd-selected-items, .cfd-selected-items {
    color: #888a90;
    font-weight: 600;
    font-size: 17px;
    margin-left: 6px;
}

button.close {
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    color: rgb(99, 105, 117);
    border-radius: 2px;
    cursor: pointer !important;
    margin-left: 4px !important;
    text-shadow: none !important;
    opacity: 1;
    padding: 0 !important;
    font-size: 15px;
    transition: 300ms linear;
    background-color: rgb(201,0,0);
    background: -moz-linear-gradient(0deg, rgba(201,0,0,1) 0%, rgba(201,0,0,1) 50%, rgba(58,60,66,1) 50%, rgba(58,60,66,1) 100%);
    background-image: -webkit-linear-gradient(0deg, rgba(201,0,0,1) 0%, rgba(201,0,0,1) 50%, rgba(58,60,66,1) 50%, rgba(58,60,66,1) 100%);
    background-image: linear-gradient(0deg, rgba(201,0,0,1) 0%, rgba(201,0,0,1) 50%, rgba(58,60,66,1) 50%, rgba(58,60,66,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#c90000",endColorstr="#3a3c42",GradientType=1);
    background-size: 100% 200%;
    background-position: 0% 0%;
    transition: 200ms linear;
    outline: none !important;
}

.jpd-right, .cfd-right {
    display: flex;
    align-items: center;
}

button.close:hover {
    background-position: 0% 100%;
    opacity: 1 !important;
    color: #fff;
}

.jackpot-deposit-text, .coinflip-deposit-text {
    border-bottom: 2px solid #2a2d37;
    border-top: 2px solid #2a2d37;
    text-align: center;
    color: #5b5e66;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    font-size: 16px;
}

.deposit-skin-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    width: 19%;
    height: 125px;
    margin-bottom: 8px;
    margin-right: 1%;
    background: #292c36;
    border-radius: 4px;
    border-bottom: 3px solid #393c45;
    box-sizing: border-box;
}

.dsi-img {
    height: 60px;
}

.dsi-price {
    font-weight: 800;
    color: #828282;
}

.dsi-name {
    width: 85%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
    font-weight: 600;
    font-size: 15px;
    color: #fff;
}

.jackpot-deposit-cont, .coinflip-deposit-cont {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    max-height: 500px;
    overflow-x: hidden;
    overflow-y: auto;
}

.jp-deposit-footer, .cf-deposit-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.jpd-pages {
    display: flex;
    align-items: center;
}

.item-count {
    color: #888b90;
    font-weight: 600;
    font-size: 14px;
}

.pages-item {
    position: relative;
    float: left;
    padding: 6px 12px;
    line-height: 1.42857143;
    text-decoration: none;
    color: #a7a7a7;
    background-color: #333744;
    border: 1px solid #3f424e;
    margin-left: -1px;
    font-size: 16px;
    font-weight: 600;
    min-height: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.modal-footer {
    border: none;
    display: flex;
    align-items: center;
    border-top: 2px solid #2a2d37;
    padding-top: 20px;
    justify-content: flex-start;
}

.jackpot-deposit-searchbar, .coinflip-deposit-searchbar {
    width: 250px;
    font-size: 14px;
    font-weight: 600;
    color: #eaeaea;
    height: 40px;
    padding: 0 10px;
    outline: none;
    background: #292c35;
    border: none;
    border-radius: 2px;
    box-sizing: border-box;
}

.jpd-btn, .cfd-btn {
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-family: PT Sans,sans-serif;
    font-weight: 800;
    font-size: 16px;
    color: #fff;
    background: none;
    height: 40px;
    line-height: 40px;
    padding: 0 20px;
    box-sizing: border-box;
    border: none;
    border-radius: 3px;
    outline: none;
    text-decoration: none;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.jpd-btn.jp_refresh, .cfd-btn.cf_refresh {
    margin-left: auto !important;
    color: #fff;
    background: #8a8c92;
}

.jpd-btn.jp_empty, .cfd-btn.cf_empty {
    margin-left: 5px;
    color: #fff;
    background: #8a8c92;
}

.jpd-btn.deposit, .cfd-btn.deposit {
    color: #fff;
    background: #4caf50;
    opacity: 1;
}

@keyframes waiting-elipsis {
    0% {
        content: '.'
    }
    33% {
        content: '..';
    }
    66% {
        content: '...'; 
    }
}

.awaiting-animation:after {
    content: '...';
    animation: waiting-elipsis 2s linear infinite;
}
.user-logged-in-cont {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    width: 100px;
    -webkit-transform: skewX(26deg);
    transform: skewX(26deg);
    overflow: hidden;
    left: -21px;
    border-right: 1px solid #292e33;
}

.user-logged-in-ava-header {
    width: 150%;
    position: absolute;
    left: -30%;
    right: 0;
    top: -30%;
    bottom: 0;
    -webkit-transform: skewX(-26deg);
    transform: skewX(-26deg);
    opacity: .2;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
    user-drag: none;
}

.username-header {
    color: #adadb1;
    font-weight: 800;
    font-size: 18px;
    text-transform: uppercase;
    position: relative;
    bottom: 8px;
    right: 7px;
}

.user-logged-in-menu-cont {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.user-menu-item a {-webkit-transform: skewX(-26deg);transform: skewX(-26deg);display: block;padding: 4px 9px;font-size: 14px;color: #3c3f4c;font-weight: 600;text-decoration: none;transition: 200ms linear;}

.user-menu-item {
    -webkit-transform: skewX(26deg);
    transform: skewX(26deg);
    background: #1a1c23;
    position: relative;
    border-left: 2px solid #21242f;
}

.nav.user-menu {
    position: relative;
    left: -3px;
    bottom: 1px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.user-menu-item a:hover {
    color: #6c6f80;
}
#playerSettings .modal-body {
    padding: 0 1rem;
}

.tradeurl-text h4 {
    font-weight: 700;
    font-size: 17px;
}

.tradeurl-text {
    color: #87898e;
}

.tradeurl-text span {
    font-size: 15px;
}

.tradeurluser {
    font-size: 14px;
    font-weight: 600;
    color: #eaeaea;
    width: 100%;
    height: 40px;
    padding: 0 10px;
    outline: none;
    background: #292c35;
    border: none;
    border-radius: 2px;
    box-sizing: border-box;
    margin: 10px 0px;
}

.settings-btn.save {
    height: 40px;
    line-height: 40px;
    padding: 0 20px;
    color: #fff;
    background: #4caf50;
    border-radius: 3px;
    font-weight: 800;
    margin-left: auto;
}
.jackpot-circle-area {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.spinner-inner {
    width: 385px;
    height: 385px;
    background: #1e2028;
    border-radius: 50%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 8;
}

.jackpot-spinner:before {
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
    background: #1e2028;
    width: 30px;
    height: 27px;
    position: absolute;
    left: 0;
    right: 0;
    top: -26px;
    margin: auto;
    content: '';
}

.spinner-label {
    font-weight: 600;
    font-size: 20px;
    color: #64676f;
    text-transform: uppercase;
}

.spinner-value {
    font-size: 48px;
    line-height: 48px;
    font-weight: 800;
    margin-bottom: 4px;
    color: #fff;
}

.spinner-detail {
    text-align: center;
    margin: 13px 0px;
}
#myHistory .modal-dialog {
    width: 1000px;
    max-width: unset;
}

.history-nav-item {
    font-weight: 800;
    font-size: 16px;
    color: #fff;
    padding: 10px 18px;
    border-radius: 3px;
    cursor: pointer;
    transition: 200ms linear;
    background: rgba(37, 40, 49, 0);
    margin: 0 3px;
}

.history-nav {
    display: flex;
    margin-bottom: 20px;
}

.history-nav-item.active i {
    color: #c90000;
}

.history-nav-item.active {
    background: rgb(37, 40, 49);
}

.history-nav-item i {
    margin-right: 5px;
}

#myHistory .modal-body {
    padding: 0 1rem;
}

.myhistory-table {
    width: 100%;
    margin-bottom: 0px;
}

.myhistory-table thead th {
    color: #fff;
    padding-bottom: 15px;
}

.myhistory-table tbody {
    color: #909297;
}

.myhistory-table * {
    border: none;
}

#myHistory .modal-footer {
    border: none;
}
.history-nav-item:hover {
    background: rgba(37, 40, 49, 0.5);
}
.chat-rank.mod {
    color: #4caf50;
    font-weight: 600;
}

.chat-rank.admin {
    color: #e2c846;
    font-weight: 600;
}

.chat-rank.developer {
    color: #3868d5;
    font-weight: 600;
}

.chat-rank.owner {
    color: #d53843;
    font-weight: 600;
}
.chart-cont {
    width: 490px;
    height: 490px;
    position: absolute;
    right: 0;
    top: -8px;
    bottom: 0px;
    margin: auto;
    display: block;
}

.chart-cont canvas {
    height: 100% !important;
}

.jackpot-holder {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 490px;
    height: 490px;
}
.jackpot-spinner {
    position: absolute;
    width: 100%;
    height: 100%;
}

.chart-cont:before {content: '';width: 437.5px;height: 437.5px;border-radius: 50%;background-color: rgba(255, 255, 255, 0.19);position: absolute;z-index: 0;left: 0;right: 0;top: 8px;bottom: 0;margin: auto;}

.circle-loader {
    margin-bottom: 3.5em;
    border: 2px solid rgba(0, 0, 0, 0.2);
    border-left-color: #c90000;
    animation: loader-spin 1.2s infinite linear;
    display: inline-block;
    vertical-align: top;
    border-radius: 50%;
    width: 3em;
    height: 3em;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}

@keyframes loader-spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.hideEverythingBelow * {
    display: none !important;
}

.hideEverythingBelow .circle-loader {
    display: inline-block !important;
}
.coinflip-current-stats {
    width: 100%;
    display: flex;
    align-items: center;
    background: #1e2028;
    padding: 0px 20px;
    height: 100px;
    box-sizing: border-box;
    overflow: hidden;
    -webkit-transition: .3s ease;
    transition: .3s ease;
}

.coinflip-cstat {
    display: flex;
    min-height: 75px;
    margin: 0 2px;
    overflow: hidden;
    align-items: center;
    justify-content: space-between;
    padding: 0 15px;
    box-sizing: border-box;
    height: 75px;
    background: #1a1c23;
    border-radius: 0 0 4px 4px;
    border-bottom: 2px solid #2a2c33;
    font-weight: 800;
    font-size: 18px;
    flex-grow: 1;
}

.ccs-label {
    color: #8a8d98;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.ccs-stat {
    flex-shrink: 0;
    color: #fff;
}

.coinflip-header {
    display: flex;
    align-items: center;
    height: 60px;
    background: #23262f;
    padding-right: 15px;
    box-sizing: border-box;
    border-bottom: 2px solid #424448;
    box-shadow: 0 1px 2px rgba(0,0,0,.2);
    width: 100%; /* 100% */
}

.coinflip-tabs {
    flex: 1 1;
    height: 100%;
    display: flex;
}

.coinflip-tab {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
    height: 100%;
    line-height: 60px;
    padding: 0 25px;
    border-bottom: 2px solid #424448;
    font-size: 18px;
    font-weight: 600;
    color: #5e6169;
    -webkit-transition: .3s ease;
    transition: .3s ease;
    position: relative;
    top: 2px;
}

.coinflip-tab.active, .coinflip-tab.active:hover {
    color: #fff;
    border-bottom-color: #c90000;
}

.coinflip-tab:hover {
    color: #767a84;
    border-bottom-color: #5a5d63;
}

.coinflip-tab.active i, .coinflip-tab.active:hover i {color: #c90000;}

.coinflip-body {
    width: 100%; /* 100% */
}

.cag-header {
    flex-shrink: 0;
    display: flex;
    align-items: center;
    height: 50px;
    background: #16181f;
    padding: 0 25px;
}

.cagh-item {
    font-weight: 700;
    color: #7d7f84;
}

.caghi-1 {
    width: 145px;
}

.caghi-2 {
    flex: 1 1;
    margin-left: 25px;
}
.cagi-user {
    width: 65px;
    height: 65px;
    position: relative;
    overflow: hidden;
    border-radius: 4px;
    border: 2px solid #17181e;
}

.cagi-user-img {
    width: 100%;
    height: auto;
    border: 2px solid #17181e;
}

.cag-item {
    display: flex;
    align-items: center;
    position: relative;
    overflow: hidden;
    height: 100px;
    background: #1a1c23;
    box-sizing: border-box;
    border-bottom: 2px solid #1f2128;
    padding: 0 20px;
}

.cagi-items {
    flex: 1 1;
    display: flex;
    align-items: center;
    overflow: hidden;
    margin-left: 25px;
}

.cagi-item-cont {
    height: 60px;
    width: 60px;
    overflow: hidden;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
}

.cagi-item {
    width: 100%;
    display: block;
    margin: auto;
}

.cagi-users {
    display: flex;
}

.cagiu-empty {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    width: 65px;
    height: 65px;
    background: #17181e;
    border-radius: 4px;
    -webkit-transition: .3s ease;
    transition: .3s ease;
    font-size: 20px;
    line-height: 20px;
    color: #424448;
    cursor: pointer;
}

.cagi-user:nth-child(1) {
    margin-right: 15px;
}

.cagiu-empty:hover {
    color: #5a5d63;
}

.cago-winner-disp {
    position: relative;
}

.cagi-btn {
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-family: PT Sans,sans-serif;
    font-weight: 800;
    font-size: 16px;
    color: #fff;
    background: none;
    height: 40px;
    line-height: 40px;
    padding: 0 20px;
    box-sizing: border-box;
    border: none;
    border-radius: 3px;
    outline: none;
    text-decoration: none;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.cagi-join {
    background: #4caf50;
    margin-right: 10px;
}

.cagi-view {
    background: #1976d2;
}

.cagi-actions {
    display: flex;
    flex-shrink: 0;
}

.cagi-price {
    flex-shrink: 0;
    margin: 0 20px;
}

.cagi-value {
    font-weight: 700;
    font-size: 18px;
    line-height: 18px;
    color: #fff;
}

.cagi-range {
    font-size: 16px;
    font-weight: 600;
    color: #424448;
    margin-top: 3px;
}

.cagi-item-more {
    font-weight: 700;
    color: #424448;
}

.cago-winner-disp {
    width: 65px;
    height: 65px;
    border-radius: 4px;
    overflow: hidden;
}

.cagi-coin {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 24px;
    height: 24px;
    z-index: 20;
    -webkit-filter: drop-shadow(0 2px 3px rgba(0,0,0,.7));
    filter: drop-shadow(0 2px 3px rgba(0,0,0,.7));
    background-size: contain;
    background-position: 50%;
    flex-shrink: 0;
    background-repeat: no-repeat;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
    user-drag: none;
}

.cagic-blue {
    background-image: url(../img/blue.png);
}

.cagic-red {
    background-image: url(../img/red.png);
}

.header-language-dropdown {
    position: absolute;
    right: 0;
    top: 100px;
    width: 300px;
    background: #12151d;
    box-sizing: border-box;
    border-bottom: 1px solid #303138;
    box-shadow: 0 3px 3px rgba(0,0,0,.2);
    overflow: hidden;
}

.header-language-item:nth-child(even) {
    background: #171a22;
}

.header-language-item:nth-child(odd) {
    background: #1c1f28;
}

.header-language-item {
    color: rgba(255, 255, 255, 0.5);
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    overflow: hidden;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    height: 35px;
    padding: 0 10px;
    box-sizing: border-box;
    transition: 200ms linear;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-weight: 700;
}

.hsr-flag {
    margin-right: 3px;
    width: 16px;
    height: 13px;
    background-position: 50%;
    background-size: contain;
    background-repeat: no-repeat;
    transition: 200ms linear;
}

.hsr-join-txt {
    flex-shrink: 0;
    font-size: 12px;
    font-weight: 700;
    color: #56585c;
    opacity: 0;
    margin-left: auto;
    transition: 200ms linear;
}

.header-language-item:hover .hsr-join-txt {
    opacity: 1;
}

.header-language-item:hover {
    color: #fff;
}

.hsr-item-2 i {
    margin-left: 7px;
    position: relative;
    transform: rotate(0deg);
    transition: 200ms linear;
}
.cag-body, .cag-body-2 {
    position: relative;
    margin-top: 0;
    padding-right: 5px;
    height: calc(100vh - 375px);
    overflow-y: auto;
    overflow-x: hidden;
}
@keyframes jackpotuserInsert {
    0%   {
        height: 0px;
    }
    100% {
        height: 50px;
    }
}
.footer-detail {
    display: flex;
    align-items: center;
    margin-right: 20px;
    font-weight: 600;
}

.footer-label {
    color: #6e7275;
    margin-right: 5px;
}

.footer-value {
    color: #abacaf;
}

.signed-in-footer {
    display: flex;
    flex-grow: 1;
}
.myhistory-details {
    display: flex;
    flex-grow: 1;
    margin-left: 17px;
}

.mh-label {
    color: #6e7275;
    margin-right: 5px;
}

.mh-value {
    color: #abacaf;
}

.mh-detail {
    display: flex;
    align-items: center;
    margin-right: 3px;
    font-weight: 600;
    font-size: 13px;
    background: #252831;
    border-radius: 4px;
    padding: 9px 12px;
}

.pos-profit {
    color: #4caf50 !important;
}

.neg-profit {
    color: #e01818;
}
#referrals .modal-dialog {
    max-width: 935px;
}

#referrals .modal-header {
    padding-bottom: 0;
}

.ref-about {
    font-size: 14px;
    line-height: 23px;
    color: #797d86;
}

#referrals .modal-body {
    padding-top: 10px;
}

.ref-info-cont {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 15px 0px;
    position: relative;
}

.ri-item {
    position: relative;
    height: 45px;
    margin-top: 30px;
    display: flex;
    align-items: center;
    width: 41%;
}

.ri-title {
    position: absolute;
    left: 0;
    top: -19px;
    color: #fff;
    text-transform: uppercase;
    font-size: 11px;
    letter-spacing: 1px;
}

.rii-input {
    height: 100%;
    width: 100%;
    padding: 0px 15px;
    background: rgba(0, 0, 0, 0.11);
    border: none;
    border-radius: 4px;
    outline: none !important;
    color: #90959e;
    font-size: 14px;
}

span.ref-url-prev {
    position: absolute;
    left: 15px;
    top: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    color: #90959e;
    font-size: 14px;
}

.saveRefCodeInput.rii-input {
    padding-left: 176px;
}

.rii-btn {
    position: absolute;
    left: 103%;
    padding: 11px 21px;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 86px;
    cursor: pointer;
    background: #4caf50;
    color: #fff;
    font-size: 14px;
    opacity: .7;
    transition: 200ms linear;
}

.rii-btn:hover {
    opacity: 1;
}

.ri-data {
    height: 100%;
    width: 100%;
    padding: 0px 15px;
    background: rgba(0, 0, 0, 0.11);
    border: none;
    border-radius: 4px;
    outline: none !important;
    font-size: 14px;
    display: flex;
    align-items: center;
    color: #90959e;
}

.ref-info-cont:before {content: '';position: absolute;left: 55%;top: 55px;bottom: 20px;width: 1px;background: #fff;opacity: .1;}

.ref-shop-area {
    width: 100%;
    position: relative;
    overflow-x: hidden;
    overflow-y: auto;
    height: 370px;
    border: 1px solid rgba(255, 255, 255, 0.03);
    padding: 17px;
    border-radius: 4px;
    display: flex;
    flex-wrap: wrap;
}
.ref-shop-item {
    width: 164px;
    height: 200px;
    background: #282c34;
    border-radius: 4px;
    position: relative;
    margin: 4px;
    padding: 10px;
}

img.rsi-skin {
    width: 100%;
}

.rsi-skinname {
    color: #fff;
    font-size: 14px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-top: 8px;
}

.rsi-brand {
    position: absolute;
    top: 15px;
    right: 15px;
    color: #fff;
    font-size: 11px;
    text-transform: uppercase;
    font-weight: 600;
    background: rgba(0, 0, 0, 0.33);
    padding: 3px 7px;
    border-radius: 4px;
}

.rsi-price {
    color: #4caf50;
    font-weight: 800;
    font-size: 13px;
}

.rsi-buy {
    background: #343741;
    display: inline-flex;
    padding: 4px 10px;
    font-size: 14px;
    border-radius: 3px;
    color: #8b8f96;
    font-weight: 700;
    cursor: pointer;
    margin-top: 6px;
    opacity: .6;
    transition: 200ms linear;
}
.rsi-buy:hover {
    opacity: 1;
}
.confirmation-txt {
    text-align: center;
    color: #afafaf;
    font-size: 16px;
}

#confirmation .modal-footer {
    border: none !important;
    display: flex;
    align-items: center;
    justify-content: center;
}

.confirmation-btn {
    display: inline-flex;
    background: #3a3c42;
    padding: 7px 30px;
    font-size: 15px;
    font-weight: 600;
    border-radius: 4px;
    margin: 0 6px !important;
    color: #85878e;
    cursor: pointer;
    opacity: .7;
    transition: 200ms linear;
}

.confirmation-btn:hover {
    opacity: 1;
}
.modal-refresh-btn {
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    color: rgb(99, 105, 117);
    border-radius: 2px;
    cursor: pointer !important;
    margin-left: auto;
    text-shadow: none !important;
    opacity: 1;
    padding: 0 !important;
    font-size: 15px;
    transition: 300ms linear;
    background-color: rgb(201,0,0);
    background: -moz-linear-gradient(0deg, rgba(201,0,0,1) 0%, rgba(201,0,0,1) 50%, rgba(58,60,66,1) 50%, rgba(58,60,66,1) 100%);
    background-image: -webkit-linear-gradient(0deg, rgba(201,0,0,1) 0%, rgba(201,0,0,1) 50%, rgba(58,60,66,1) 50%, rgba(58,60,66,1) 100%);
    background-image: linear-gradient(0deg, rgba(201,0,0,1) 0%, rgba(201,0,0,1) 50%, rgba(58,60,66,1) 50%, rgba(58,60,66,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#c90000",endColorstr="#3a3c42",GradientType=1);
    background-size: 100% 200%;
    background-position: 0% 0%;
    transition: 200ms linear;
    outline: none !important;
}

.modal-refresh-btn:hover {
    background-position: 0% 100%;
    opacity: 1 !important;
    color: #fff;
}


.emoteToggle {
    position: absolute;
    right: 20px;
    top: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    color: #fff;
    opacity: .2;
    cursor: pointer;
    transition: 200ms linear;
}

.emoteToggle:hover {
    opacity: .6;
}
.emote-cont {
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    bottom: 41px;
    width: 258px;
    background: #21242e;
    border-radius: 6px;
    padding: 15px;
    box-shadow: 0px 0px 13px rgba(0, 0, 0, 0.13);
}

.emote-area {
    width: 100%;
    height: 130px;
    display: flex;
    flex-wrap: wrap;
    overflow-x: hidden;
    overflow-y: auto;
}

.emote-title {
    width: 100%;
    display: block;
    color: #fff;
    text-transform: uppercase;
    font-size: 11px;
    letter-spacing: 1px;
    opacity: .4;
    margin-bottom: 10px;
}

.emote-img {
    width: 100%;
    height: auto;
}

.emote-item {
    width: 27px;
    height: 27px;
    margin: 5px;
    cursor: pointer;
    opacity: 1;
    transition: 200ms linear;
    display: flex;
    align-items: center;
    justify-content: center;
}
.chat-lvl {
    color: #fff;
    display: inline-flex;
    margin-right: 7px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    border: 2px solid rgba(255, 255, 255, 0.13);
    font-size: 11px;
    align-items: center;
    justify-content: center;
}
.emote-item:hover {
    opacity: .6;
}

::-webkit-scrollbar-track{
	border-radius: 10px;
	background-color: #21242e;
}

::-webkit-scrollbar {
	width: 2px;
    height: 2px;
	background-color: #abacaf;
}

::-webkit-scrollbar-thumb {
	background-color: #abacaf;
	border-radius: 10px;
}
#myHistory .modal-header, #myHistory .modal-body, #myHistory .modal-footer {
    padding-left: 40px;
    padding-right: 40px;
}

#myHistory .modal-header {
    padding-top: 40px;
}

#myHistory .modal-body {
    padding-bottom: 40px;
}
.modal.hideNow .modal-dialog {
    -webkit-animation: modalLeave .3s ease forwards;
    animation: modalLeave .3s ease forwards;
}
.modal-backdrop {
    transition: 200ms linear !important;
}
.deposit-skin-item.active {
    border-bottom: 3px solid #4caf50;
}
#coinflipLobby .modal-dialog {
    max-width: 700px;
}

#coinflipLobby .modal-header {
    padding: 0px 25px;
    padding-top: 25px;
}

.coinflip-lobby {
    display: flex;
    align-items: flex-start;
    position: relative;
}

.coinflip-user {
    width: 50%;
    padding: 20px;
    height: 100%;
    display: block;
}

.cf-user-avatar-img {
    width: 100px;
    height: 100px;
    border-radius: 4px;
    display: block;
    margin: 0 auto;
}

.cf-username-title {
    width: 100%;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: 800;
    font-size: 18px;
    color: #fff;
}

.cf-gamedetails {
    margin-top: 5px;
    color: #6e7075;
    font-weight: 700;
    font-size: 14px;
}

.cf-user-details-txt {
    text-align: center;
}

.cf-user-avatar {
    width: 100px;
    margin: auto;
    margin-bottom: 15px;
    position: relative;
}

.cf-user-details {
    padding: 10px 0px;
    border-bottom: 2px solid #2a2d37;
}

.cf-user-skins {
    width: 100%;
    padding-top: 10px;
    max-height: 350px;
    overflow: auto;
    text-align: center;
}

.cf-user-avatar .cagi-coin {
    width: 30px;
    height: 30px;
    right: -8px;
    bottom: -8px;
}

.cf-l-skin {
    display: flex;
    align-items: center;
    height: 70px;
    padding: 0 15px;
    box-sizing: border-box;
    background: #2a2e37;
    text-align: left;
}

.cf-l-img {width: 100%;}

.cf-l-img-cont {
    height: 50px;
    width: 50px;
    overflow: hidden;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
}

.cf-l-skinname {
    color: #96989c;
    flex: 1 1;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.cf-l-value {
    flex-shrink: 0;
    font-weight: 700;
    color: #fff;
}

.cf-wr-title {
    margin-right: 5px;
    color: #797c82;
    font-weight: 700;
}

.cf-wr-data {
    word-break: break-all;
    color: #777a80;
}

.cf-pf-txt a {
    color: #2f7cad;
    text-decoration: none;
}

.cf-winning-roll {
    width: 100%;
    font-size: 14px;
}

#coinflipLobby .modal-footer {
    flex-wrap: wrap;
    margin: 0 35px;
    padding-left: 0;
    padding-right: 0;
}

.cf-pf-txt {
    width: 100%;
    margin-left: 0 !important;
    font-size: 15px;
}

.coinflip-lobby:before {content: '';position: absolute;background-color: #2a2d37;width: 2px;left: 0;right: 0;top: 0;bottom: 0;margin: auto;}

.cf-sides-labels {
    font-weight: 700;
    color: #a3a5a9;
    margin-right: 5px;
}

.cf-dep-coin {
    cursor: pointer;
    width: 40px;
    height: 40px;
    background-size: contain;
    background-position: 50%;
    margin: 0px 5px;
    opacity: .3;
    transition: 200ms linear;
}

.cf-sides-cont {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    width: 100%;
    border-top: 2px solid #2a2d37;
    padding-top: 13px;
    margin-top: 10px;
}

.cf-dep-coin.active {
    opacity: 1;
}

.cf-dep-coin:hover {
    opacity: .7;
}

#coinflipDeposit .modal-footer {
    margin: 0px 20px;
    padding-left: 0px;
    padding-right: 0px;
}

.cf-deposit-footer {
    flex-wrap: wrap;
}
.cf-coin-animation-cont {
    position: absolute;
    top: 13px;
    left: 0;
    right: 0;
    height: 200px;
    z-index: 999;
    pointer-events: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cf-coin-lobbyanimation-coin {
    -webkit-transform: scale(.6);
    transform: scale(.6);
    flex-shrink: 0;
    background-repeat: no-repeat;
    width: 600px;
    height: 600px;
}
.timer-starting {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    flex: 1 1;
    font-weight: 800;
    font-size: 18px;
    color: #98999a;
}

.timer-jackpot-txt {
    color: #fff;
}

.timers-txt i {
    color: #fff;
}

.timer-jp-cont {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #999;
    font-size: 20px;
    text-align: center;
}

.timer-jp-outer {
    padding: 50px 25px;
    border-radius: 100px;
    line-height: 50px;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}
.e-c-base {
        fill: none;
    stroke: #1e2028;
    stroke-width: 2px;
}

.e-c-progress {
    fill: none;
    stroke: #4b4d55;
    stroke-width: 2px;
}

.e-c-pointer {
  fill: #FFF;
  stroke: #F7958E;
  stroke-width: 2px;
}
.jp-timer-circ {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

/*
.jp-timer-circ svg *, .jp-timer-circ * {
    transition: 1000ms linear;
}
*/

.jp-timer-circ svg {
    width: 395px;
}
.jp-round-skins {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    overflow: hidden;
    overflow-x: auto;
    height: 100%;
    width: 100%;
}

.jpri-img {
    width: 60px;
    -webkit-filter: drop-shadow(0 0 10px rgba(0,0,0,.25));
    filter: drop-shadow(0 0 10px rgba(0,0,0,.25));
}

.jpri-userava {
    width: 25px;
    height: 25px;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 5;
    border-radius: 0 6px 0 6px;
}

.jp-round-item {
    position: relative;
    flex-shrink: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    padding-right: 40px;
    padding-left: 20px;
    height: 80px;
    box-sizing: border-box;
    border-radius: 3px 6px 3px 3px;
    background: #1a1c23;
    margin-right: 10px;
    border-bottom: 2px solid #939596;
}

.jpri-details {
    flex: 1 1;
    overflow: hidden;
    max-width: 180px;
    margin-left: 10px;
}

.jpri-name {
    color: #7f868f;
    font-size: 16px;
    line-height: 16px;
    font-weight: 600;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.jpri-value {
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    margin-top: 5px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.jackpot-entry-fair {
    overflow: hidden;
    height: 200px;
    box-sizing: border-box;
    background: #13151b;
    -webkit-transition: .3s ease;
    transition: .3s ease;
    border-left: 3px solid #43454c;
    border-right: 3px solid #43454c;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.jef-entry {
    display: flex;
    margin-bottom: 5px;
    font-size: 14px;
    width: 100%;
    padding: 0 10px;
    box-sizing: border-box;
}

.jef-title {
    flex-shrink: 0;
    margin-right: 10px;
    color: #d4d4d4;
    font-weight: 800;
    width: 100px;
}

.jef-value {
    flex: 1 1;
    word-break: break-all;
    color: #848589;
    font-weight: 600;
    width: 100%;
    height: 27px;
    overflow-x: hidden;
    overflow-y: auto;
}

.jef-hiddenval {
    opacity: .4;
}
.itoi-img {
    width: 40px;
}

.sending-trade-offer {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    overflow: hidden;
    height: 115px;
    transition: 500ms linear;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-trade-offer-area {
    position: relative;
    width: 100%;
    height: 115px;
    border-top: 2px solid #292c36;
    border-bottom: 2px solid #292c36;
    margin-bottom: 15px;
}

.sent-trade-offer-txt {
    overflow: hidden;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    height: 115px;
    transition: 500ms linear;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.stot-txt {
    color: #fff;
    font-size: 16px;
    margin-bottom: 6px;
    font-weight: 700;
}

h4.stot-txt {
    opacity: .4;
}

.sending-trade-offer .circle-loader {
    position: unset;
    margin: 0;
    width: 2em;
    height: 2em;
}

.sending-trade-offers-txt {
    padding-left: 15px;
    color: #fff;
    font-weight: 700;
    font-size: 15px;
}

.enter-o2fa-code {
    overflow: hidden;
    height: 110px;
    transition: 300ms linear;
}

.in-trade-offer-item {
    width: 100%;
    display: flex;
    align-items: center;
    height: 70px;
    padding: 0 15px;
}

.itoi-txthold {
    display: flex;
    flex-direction: column;
    margin-left: 15px;
}

.itoi-name {
    color: #fff;
    font-weight: 700;
    font-size: 15px;
}

.itoi-value {
    color: #fff;
    font-size: 14px;
    font-weight: 700;
    opacity: .3;
}

.o2fa-btn {
    font-size: 15px;
    color: #fff;
    font-weight: 600;
    padding: 9px 20px;
    border-radius: 4px;
    background: #3c5dff;
    cursor: pointer;
    opacity: 1;
    transition: 200ms linear;
}

.o2fa-btn.closeBtn {
    background: #3c5dff;
}

.o2fa-btns-1, .o2fa-btns-2 {
    width: 100%;
    position: relative;
    display: flex;
    justify-content: flex-end;
}

.o2fa-btn:hover {
    opacity: .8;
}

.oc-enter-code {
    display: flex;
    justify-content: center;
}

.oc-enter-code input {
    width: 50px;
    height: 50px;
    border: none;
    text-align: center;
    margin: 0 5px;
    background: #292c36;
    outline: none !important;
    color: #9af30d;
    font-size: 29px;
    font-weight: 700;
}

#offer2fa .modal-body {
    padding-top: 0;
}

.oc-enter-txt {
    text-align: center;
    margin: 20px 0px;
    font-size: 14px;
    color: #fff;
    opacity: .3;
}

.o2fa-btn.viewOnSteamBtn {
    margin-left: auto;
    margin-right: 8px;
    display: flex;
    align-items: center;
	background: #0DBA0D;
}

.o2fa-btn.viewOnSteamBtn i {
    font-weight: 300 !important;
    font-size: 17px;
    margin-right: 6px;
}
.rsi-skin-cont {
    width: 144px;
    height: 95px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.vanillatoasts-toast {
    padding: 8px 15px;
    border-radius: 4px;
    margin: 6px 11px;
    background: #1e2028;
    border: 1px solid rgba(255, 255, 255, 0.03);
}

.vanillatoasts-info {
    border-bottom: 3px solid #2988ff;
}

h4.vanillatoasts-title {
    color: #fff;
    font-weight: 700;
    font-family: 'PT Sans', sans-serif;
    font-size: 16px;
    opacity: .8;
}

p.vanillatoasts-text {
    font-family: 'PT Sans', sans-serif;
    color: #fff;
    font-size: 13px;
    opacity: .5;
}

.vanillatoasts-error {
    border-bottom: 3px solid #b12934;
}

.vanillatoasts-warning {
    border-bottom: 3px solid #d0bb29;
}

.vanillatoasts-success {
    border-bottom: 3px solid #64d838;
}

.leaderboards-header {
    width: 100%;
    background: #16181f;
    display: flex;
    align-items: center;
    padding: 0px 30px;
    padding-left: 95px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}

.lh-item {
    font-size: 16px;
    padding: 20px 12px;
    text-align: center;
    font-weight: 700;
    color: #7d7f84;
}

.lhi-1, .lbs-1 {
    width: 55%;
    text-align: left !important;
    justify-content: flex-start !important;
}

.lhi-2, .lbs-2 {
    width: 15%;
}

.lhi-3, .lbs-3 {
    width: 15%;
}

.lhi-4, .lbs-4 {
    width: 15%;
}

.lhi-5, .lbs-5 {
    width: 15%;
}

.lbs-userimg {
    width: 46px;
    height: 46px;
    border-radius: 4px;
}

.lb-sec {
    padding: 10px 30px;
    padding-left: 95px;
    display: flex;
    align-items: center;
    width: 100%;
    position: relative;
    background: #1a1c23;
    box-sizing: border-box;
    border-bottom: 2px solid #1f2128;
}

.lbs-username {
    color: #fff;
    padding-left: 15px;
    font-size: 18px;
}

.lbs-item {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    font-weight: 600;
    color: #969696;
}

.leaderboards-body {
    width: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    position: absolute;
    left: 0;
    right: 0;
    top: 64px;
    height: 100%;
}

.lbs-placement {
    position: absolute;
    clip-path: polygon(0 0, 64% 0, 89% 100%, 0% 100%);
    clip-path: polygon(0 0, 78% 0, 89% 100%, 0% 100%);
    top: 11px;
    bottom: 11px;
    left: 0;
    width: 75px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #46494e;
    font-size: 22px;
    font-weight: 700;
    padding-right: 21px;
}

.leaderboards-body .lb-sec:nth-child(1) .lbs-placement {
    background: rgba(220, 155, 35, 0.28);
    color: #aeafb1;
}

.leaderboards-body .lb-sec:nth-child(2) .lbs-placement {
    background: rgba(162, 156, 156, 0.28);
    color: #aeafb1;
}

.leaderboards-body .lb-sec:nth-child(3) .lbs-placement {
    background: rgba(66, 32, 12, 0.48);
    color: #aeafb1;
}

.site-page[data-page="leaderboards"] {
    height: 100%;
    position: relative;
}

.supply-drop-cont {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    height: 218px;
    background: #21242e;
}

.supply-p {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.supply-p.supply-p-1 i {
    color: #c90000;
    font-size: 2rem;
}

.bot-code-placeholder {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 90px;
    height: 35px;
    margin: 10px 0px;
    background: #fff;
    border: 1px solid #000;
}

.bcp {
    font-size: 1.3rem;
    margin: 0px 3px;
}

.bcp.bcp-1 {
    font-weight: 800;
    transform: rotate(26deg);
}

.bcp.bcp-2 {
    transform: rotate(-27deg);
}

.bcp.bcp-3 {
    font-weight: 900;
    text-transform: uppercase;
}

.bcp.bcp-4 {
    transform: scale(.7);
}

.bot-code-input {
    background: #1c1f26;
    border: 1px solid rgba(255, 255, 255, 0.07);
    padding: 7px 20px;
    font-size: 14px;
    color: #fff;
    outline: none;
    text-align: center;
}

.bot-code-btn {
    background: #b8232f;
    color: #eae0e1;
    font-size: 16px;
    font-weight: 800;
    padding: 8px 39px;
    border-radius: 4px;
    margin-top: 10px;
    cursor: pointer;
    transform: scale(1);
    transition: 250ms;
}

.bot-code-btn:hover {
    transform: scale(.99);
}
.supply-animation-user {
    width: 40px;
    margin: 3px;
    border-radius: 3px;
    transition: 350ms;
    transform: scale(1);
    border-radius: 50%;
}

.sau-img {
    width: 100%;
    border-radius: 50%;
}

.supplydrop-animationarea {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    width: 276px;
    margin-top: 26px;
}
.supplydrop-winnertxt {
    position: absolute;
    top: 10px;
    left: 0;
    right: 0;
    text-align: center;
    opacity: 0;
    transition: 500ms linear;
    background: #1c1f26;
    width: 0px;
    margin: auto;
    padding: 5px 0px;
    color: rgba(255, 255, 255, 0);
    font-size: 16px;
    border-radius: 57px;
    height: 34px;
}
.supply-animation-user.winner {
    transform: scale(1.5);
    animation: pulse 4s infinite;
}

@-webkit-keyframes pulse {
  0% {
    -moz-box-shadow: 0 0 0 rgba(58, 204, 44, 0.4);
    box-shadow: 0 0 0 rgba(58, 204, 44, 0.4);
  }
  70% {
      -moz-box-shadow: 0 0 15x rgba(58, 204, 44, 0.4);
      box-shadow: 0 0 15px rgba(58, 204, 44, 0.4);
  }
  100% {
      -moz-box-shadow: 0 0 0 rgba(58, 204, 44, 0.4);
      box-shadow: 0 0 0 rgba(58, 204, 44, 0.4);
  }
}
@keyframes pulse {
  0% {
    -moz-box-shadow: 0 0 0 rgba(58, 204, 44, 0.4);
    box-shadow: 0 0 0 rgba(58, 204, 44, 0.4);
  }
  70% {
      -moz-box-shadow: 0 0 15x rgba(58, 204, 44, 0.4);
      box-shadow: 0 0 15px rgba(58, 204, 44, 0.4);
  }
  100% {
      -moz-box-shadow: 0 0 0 rgba(58, 204, 44, 0.4);
      box-shadow: 0 0 0 rgba(58, 204, 44, 0.4);
  }
}
.cf-user-skins .cagi-join {
    display: inline-block;
}
.user-xpbar-cont {
    -webkit-transform: skewX(26deg);
    transform: skewX(26deg);
    overflow: hidden;
    width: 215px;
    height: 20px;
    background: rgb(60, 63, 76);
    position: relative;
    left: -12px;
}

.user-xpbar {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    background: #b12934;
}
.uxp-txt {
    position: absolute;
    top: 0;
    bottom: 0;
    color: #fff;
    z-index: 1;
    -webkit-transform: skewX(-26deg);
    transform: skewX(-26deg);
    font-size: 13px;
}

.uxp-txt.uxp-txt-1 {
    left: 15px;
}

.uxp-txt.uxp-txt-3 {
    right: 15px;
}

.uxp-txt.uxp-txt-2 {
    left: 0;
    right: 0;
    text-align: center;
}
.mhcth-item {
    color: #fff;
    font-weight: 700;
    font-size: 18px;
}

.mhct-head {
    display: flex;
    align-items: center;
}

.my-jackpot-history div:nth-child(1) {
    width: 10%;
}

.my-jackpot-history 
 div:nth-child(2) {
    width: 12%;
}

.my-jackpot-history 
 div:nth-child(3) {
    width: 30%;
}

.my-jackpot-history 
 div:nth-child(4) {
    width: 30%;
}

.my-jackpot-history 
 div:nth-child(5) {
    width: 18%;
}

.my-store-history div:nth-child(1) {
    width: 10%;
}

.my-store-history 
 div:nth-child(2) {
    width: 12%;
}

.my-store-history 
 div:nth-child(3) {
    width: 50%;
}

.my-store-history 
 div:nth-child(4) {
    width: 10%;
}

.my-store-history 
 div:nth-child(5) {
    width: 18%;
}


.my-drop-history div:nth-child(1) {
    width: 10%;
}

.my-drop-history 
 div:nth-child(2) {
    width: 12%;
}

.my-drop-history 
 div:nth-child(3) {
    width: 50%;
}

.my-drop-history 
 div:nth-child(4) {
    width: 10%;
}

.my-drop-history 
 div:nth-child(5) {
    width: 18%;
}

.mhctb-hold {
    width: 100% !important;
    display: flex;
    align-items: center;
    padding: 10px 15px;
}

.mhctb-item {
    color: #b0b0b1;
    font-size: 15px;
    display: flex;
    align-items: center;
    position: relative;
}

.myhistory-jp-img {
    width: 35px;
    margin-right: 10px;
}

.myhistory-jp-name {
    color: #fff;
    font-weight: 700;
    margin-right: 8px;
}

.mhctb-hold:nth-child(even) {
    background: rgba(0, 0, 0, 0.14);
}

.mhct-head-cont {
    padding: 0px 15px;
    padding-bottom: 10px;
}

.my-coinflip-history div:nth-child(1) {
    width: 9%;
}

.my-coinflip-history div:nth-child(2) {
    width: 10%;
}

.my-coinflip-history div:nth-child(3) {
    width: 63%;
}

.my-coinflip-history div:nth-child(4) {
    width: 18%;
}

.myh-cf-player {
    display: flex;
    width: 50% !important;
    align-items: center;
}

img.myhistory-cf-coin {
    width: 35px;
    image-rendering: pixelated;
    margin-right: 7px;
}

.myhistory-cf-ava {
    width: 35px;
    margin-right: 10px;
}

.myh-cf-player strong {color: #fff;margin-right: 7px;}

.my-trade-history div:nth-child(1) {
    width: 10%;
}

.my-trade-history div:nth-child(2) {
    width: 17%;
}

.my-trade-history div:nth-child(3) {
    width: 17%;
}

.my-trade-history div:nth-child(4) {
    width: 17%;
}

.my-trade-history div:nth-child(5) {
    width: 13%;
}

.my-trade-history div:nth-child(6) {
    width: 26%;
}

.declined-mh {
    color: #ec1111;
    font-weight: 700;
}

.accepted-mh {
    color: #29f32f;
}

.myhistory-detail-btn {
    width: unset !important;
    background: rgba(255, 255, 255, 0.36);
    color: #fff;
    padding: 10px 18px;
    border-radius: 4px;
    font-weight: 700;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    cursor: pointer;
}

.mhct-body.my-trade-history .mhctb-item {
    padding: 9px 0px;
}

.mhct-body.my-trade-history .mhctb-item:nth-child(6) {
    padding-right: 87px;
}
h5.modal-subtitle {
    color: #fff;
    font-size: 16px;
    font-weight: 600;
}

#tradeHistory .modal-header {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#tradeHistory 
 button.close {
    position: absolute;
    right: 35px;
    top: 35px;
}

h5.modal-subtitle.declined {
    color: #ff2223;
}

.trade-history-item {
    display: flex;
    align-items: center;
    margin: 13px 0px;
}

img.tradeskinimg-hist {
    width: 50px;
    margin-right: 25px;
}

.tradeskintxt-hist {
    display: flex;
    flex-direction: column;
}

span.tradeskimnhist-name {
    color: #fff;
    font-weight: 700;
    font-size: 17px;
}

span.tradeskinmhist-price {
    color: #fff;
    font-weight: 700;
    font-size: 15px;
    opacity: .3;
}

.trade-history-items {
    width: 100%;
    height: 100%;
    max-height: 300px;
    overflow-x: hidden;
    overflow-y: auto;
}
.cf-countdown-ani {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 999999;
    color: #fff;
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    width: 130px;
    height: 130px;
    margin: auto;
    background: rgba(0, 0, 0, 0.59);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.chat-profile-menu {
    position: absolute;
    margin: 0;
    padding: 0;
    background: #1a1c23;
    padding: 10px 28px;
    border-radius: 8px;
    color: #a2a2a7;
    font-weight: 600;
    font-size: 14px;
}

.chat-profile-menu li {
    list-style: none;
    padding: 5px 0px;
    width: -webkit-fill-available;
    transition: 400ms linear;
    cursor: pointer;
    font-size: 15px;
}

.chat-profile-menu li:hover {
    color: #fff;
}
.adminpanel-header {
    width: 100%;
    background: #1a1c23;
    border-bottom: 2px solid #b8232f;
    padding: 0px 20px;
}

.adminmenu {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    margin-block-start: 0;
    margin-block-end: 0;
}

.adminmenu-item {
    list-style: none;
    display: flex;
    /* border-bottom: 3px solid #b8232f; */
    transition: 250ms linear;
}

.adminmenu-txt {
    padding: 10px 10px;
    color: #fff !important;
    text-decoration: none !important;
    outline: none !important;
    font-weight: 600;
    font-size: 15px;
    opacity: .25;
    transition: 250ms linear;
}

.adminmenu-item.active .adminmenu-txt, .adminmenu-item:hover .adminmenu-txt {
    opacity: 1;
}

.adminmenu-item.active {
    /* border-bottom-color: #b8232f; */
}

.adminpanel-body {
    width: 100%;
    position: relative;
    height: 100%;
}

.adminpanel-page {
    width: 100%;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 44px;
    overflow-x: hidden;
    overflow-y: auto;
}

.adminpanel-topper {
    display: flex;
    align-items: center;
    padding: 20px 20px;
}

.ap-dates {
    color: #b8232f;
    font-weight: 700;
}

.adminpanel-header .adminmenu li:nth-child(1) a {
    padding-left: 0;
}

.ap-tr {
    margin-left: auto;
    display: flex;
    align-items: center;
}

.adminpanel-refreshbtn, .adminpanel-btn-top {
    background: #949292;
    margin-left: 15px;
    padding: 6px 14px;
    border-radius: 3px;
    color: #fff;
    font-weight: 600;
    cursor: pointer;
}

.adminpanel-filter-datetype, .adminpanelselect {
    padding: 6px 14px;
    border-radius: 3px;
    background: #1c1f26;
    color: #fff;
    border: 1px solid #2c2f35;
    outline: none;
}

.adminpanel-pagebody {
    padding: 20px 20px;
}

.admintitle, .adminpanel-title {
    color: #fff;
    font-size: 20px;
    font-weight: 700;
}

.adminpanel-stattable {
    width: 100%;
    color: #fff;
    margin: 25px 0px;
}

.adminpanel-stattable tbody tr:nth-child(even) {
    background: rgba(0, 0, 0, 0.15);
}

.adminpanel-stattable tbody tr td {
    padding: 10px 5px;
}

.adminpanel-stattable tbody tr td:nth-child(1) {
    width: 20%;
}

.adminpanel-stattable tbody tr td:nth-child(2), .adminpanel-stattable tbody tr td:nth-child(3),.adminpanel-stattable tbody tr td:nth-child(4) {
    width: 15%;
}

.adminpanel-stattable tbody tr {
    opacity: .6;
    font-weight: 600;
}

.adminpanel-stattable thead th {
    padding-bottom: 10px;
}

.adminpanel-pagepicker {
    display: flex;
    margin-left: auto;
}

.appp-picker {
    background: rgb(41, 44, 53);
    color: rgba(255, 255, 255, 0.33);
    padding: 4px 7px;
    border-top: 1px solid rgb(48, 51, 60);
    border-bottom: 1px solid rgb(48, 51, 60);
    width: 35px;
    height: 35px;
    font-size: 13px;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 250ms;
}

.appp-picker:nth-child(1) {
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}

.appp-picker:nth-last-child(1) {
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

.appp-picker.active {color: #b8232f;background: #1c1f26;}

.appp-picker:hover {
    background: rgb(65, 70, 84);
    color: #fff;
}

.appp-picker i {
    font-size: 9px;
}

.adminpanelselect {
    margin: 0px 5px;
}

.adminpanel-btn-top {
    margin-left: 6px;
}

.adminpanel-search {
    width: 100%;
    background: #1c1f26;
    border: none;
    padding: 10px 20px;
    margin-top: 10px;
    outline: none;
    color: #fff;
}

.admin-items-table {
    display: flex;
    flex-wrap: wrap;
}

.table-head {
    width: 100%;
    display: flex;
    align-items: center;
    padding: 15px 0px;
    font-weight: 600;
}

.table-body {
    width: 100%;
}

.admin-items-table .table-head div:nth-child(1), .admin-items-table .table-body .table-row div:nth-child(1) {
    width: 30%;
}

.admin-items-table .table-head div:nth-child(2), .admin-items-table .table-body .table-row div:nth-child(2) {
    width: 61%;
}

.admin-items-table .table-head div:nth-child(3), .admin-items-table .table-body .table-row div:nth-child(3) {
    width: 9%;
}

.table-headitem {
    color: #fff;
}

.table-row {
    width: 100%;
    display: flex;
    align-items: center;
}

.table-skinimg {
    width: 30px;
    margin-right: 15px;
}

.table-bodyitem {
    color: #fff;
    padding: 4px 0px;
    font-size: 13px;
}

.admin-items-table .table-body .table-row:nth-child(even) {
    background: #1c1f26;
}

.table-btn {
    background: #949292;
    padding: 6px 14px;
    border-radius: 3px;
    color: #fff;
    font-weight: 600;
    cursor: pointer;
    width: 100% !important;
    display: inline-block;
    text-align: center;
}
.adminpanel-page[data-page="trades"] .admin-items-table .table-head div:nth-child(1), .adminpanel-page[data-page="trades"] .admin-items-table .table-body .table-row div:nth-child(1) {
    width: 10%;
}

img.table-playerimg {
    width: 30px;
    margin-right: 10px;
}

.adminpanel-page[data-page="trades"] .admin-items-table .table-head div:nth-child(2), .adminpanel-page[data-page="trades"] .admin-items-table .table-body .table-row div:nth-child(2) {
    width: 12%;
}

.adminpanel-page[data-page="trades"] .admin-items-table .table-head div:nth-child(3), .adminpanel-page[data-page="trades"] .admin-items-table .table-body .table-row div:nth-child(3) {
    width: 10%;
}

.adminpanel-page[data-page="trades"] .admin-items-table .table-head div:nth-child(4), .adminpanel-page[data-page="trades"] .admin-items-table .table-body .table-row div:nth-child(4) {
    width: 25%;
}

.adminpanel-page[data-page="trades"] .admin-items-table .table-head div:nth-child(5), .adminpanel-page[data-page="trades"] .admin-items-table .table-body .table-row div:nth-child(5) {
    width: 10%;
}

.adminpanel-page[data-page="trades"] .admin-items-table .table-head div:nth-child(6), .adminpanel-page[data-page="trades"] .admin-items-table .table-body .table-row div:nth-child(6) {
    width: 8%;
}

.adminpanel-page[data-page="trades"] .admin-items-table .table-head div:nth-child(7), .adminpanel-page[data-page="trades"] .admin-items-table .table-body .table-row div:nth-child(7) {
    width: 25%;
}

.adminpanel-page[data-page="trades"] .admin-items-table .table-body .table-row div {
    padding: 6px 0px;
}

.adminpanel-page[data-page="trades"] .admin-items-table .table-body .table-row div:nth-child(7) {
    display: flex;
    align-items: center;
}

.adminpanel-page[data-page="trades"] .admin-items-table .table-body .table-row div:nth-child(7) .table-btn {
    width: unset !important;
    padding: 8px 19px;
    margin-left: auto;
}

.adminpanel-page[data-page="bots"] .adminpanel-topper .table-btn {width: unset !important;}

.adminpanel-page[data-page="bots"] .admin-items-table .table-head div:nth-child(1), .adminpanel-page[data-page="bots"] .admin-items-table .table-body .table-row div:nth-child(1) {
    width: 20%;
}

.adminpanel-page[data-page="bots"] .admin-items-table .table-head div:nth-child(2), .adminpanel-page[data-page="bots"] .admin-items-table .table-body .table-row div:nth-child(2) {
    width: 10%;
}

.adminpanel-page[data-page="bots"] .admin-items-table .table-head div:nth-child(3), .adminpanel-page[data-page="bots"] .admin-items-table .table-body .table-row div:nth-child(3) {
    width: 20%;
}

.adminpanel-page[data-page="bots"] .admin-items-table .table-head div:nth-child(4), .adminpanel-page[data-page="bots"] .admin-items-table .table-body .table-row div:nth-child(4) {
    width: 20%;
}

.adminpanel-page[data-page="bots"] .admin-items-table .table-head div:nth-child(5), .adminpanel-page[data-page="bots"] .admin-items-table .table-body .table-row div:nth-child(5) {
    width: 30%;
}

.adminpanel-page[data-page="bots"] .admin-items-table .table-body .table-row div {
    padding: 4px 0px;
}

.adminpanel-page[data-page="bots"] .admin-items-table .table-body .table-row div:nth-child(5) {
    display: flex;
    align-items: center;
}

.adminpanel-page[data-page="bots"] .admin-items-table .table-body .table-row div:nth-child(5) .table-btn.tlinkBtn {
    width: unset !important;
    margin-left: auto;
    padding: 4px 10px;
}

.adminpanel-page[data-page="players"] .adminpanel-topper .table-btn {
    width: unset !important;
}

.adminpanel-page[data-page="players"] .admin-items-table .table-head div:nth-child(1), .adminpanel-page[data-page="players"] .admin-items-table .table-body .table-row div:nth-child(1) {
    width: 11%;
    padding: 0px 30px;
}

.adminpanel-page[data-page="players"] .admin-items-table .table-head div:nth-child(2), .adminpanel-page[data-page="players"] .admin-items-table .table-body .table-row div:nth-child(2) {
    width: 19%;
    justify-content: flex-start;
}

.adminpanel-page[data-page="players"] .admin-items-table .table-head div:nth-child(3), .adminpanel-page[data-page="players"] .admin-items-table .table-body .table-row div:nth-child(3) {
    width: 16%;
    display: flex;
    align-items: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.adminpanel-page[data-page="players"] .admin-items-table .table-body .table-row div:nth-child(3) .table-btn {
    width: unset !important;
    margin-left: auto;
}

.adminsearch-header {
    background: #1c1f26;
    border: 1px solid #2c2f35;
    border-radius: 3px;
    padding: 6px 14px;
    color: #fff;
}

.adminpanel-btn-top.refrefref {
    margin-left: auto;
}

.adminpanel-page[data-page="roles"] .admin-items-table .table-head div:nth-child(1), .adminpanel-page[data-page="roles"] .admin-items-table .table-body .table-row div:nth-child(1) {
    width: 15%;
}

.adminpanel-page[data-page="roles"] .admin-items-table .table-head div:nth-child(2), .adminpanel-page[data-page="roles"] .admin-items-table .table-body .table-row div:nth-child(2) {
    width: 15%;
}

.adminpanel-page[data-page="roles"] .admin-items-table .table-head div:nth-child(3), .adminpanel-page[data-page="roles"] .admin-items-table .table-body .table-row div:nth-child(3) {
    width: 70%;
}

.adminpanel-page[data-page="roles"] .admin-items-table .table-body .table-row div:nth-child(3) {
    display: flex;
    align-items: center;
}

.adminpanel-page[data-page="roles"] .admin-items-table .table-body .table-row div:nth-child(3) .table-btn {
    width: unset !important;
    margin-left: auto;
}

.admingiveaway-sec {
    width: 450px;
}

.giveaway-input {
    width: 100%;
    margin: 0px 0px;
    padding: 6px 10px;
    border-radius: 3px;
    border: none;
    background: rgba(255, 255, 255, 0.09);
    color: #fff;
    margin-top: 10px;
}

.giveawaysec-btns {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.ga-btn {
    background: rgba(255, 255, 255, 0.22);
    padding: 8px 15px;
    margin-top: 10px;
    border-radius: 3px;
    color: #fff;
    font-weight: 600;
}

.ga-btn-green {
    background: #57d85b;
    padding: 8px 15px;
    margin-top: 10px;
    border-radius: 3px;
    color: #fff;
    font-weight: 600;
}
.adminpanel-page[data-page="support"] .table-bodyitem {
    padding: 4px 0px;
}

.adminpanel-page[data-page="support"] .admin-items-table .table-head div:nth-child(1), .adminpanel-page[data-page="support"] .admin-items-table .table-body .table-row div:nth-child(1) {
    width: 5%;
}

.adminpanel-page[data-page="support"] .admin-items-table .table-head div:nth-child(2), .adminpanel-page[data-page="support"] .admin-items-table .table-body .table-row div:nth-child(2) {
    width: 22%;
}

.adminpanel-page[data-page="support"] .admin-items-table .table-head div:nth-child(3), .adminpanel-page[data-page="support"] .admin-items-table .table-body .table-row div:nth-child(3) {
    width: 17%;
    text-align: left;
}

.adminpanel-page[data-page="support"] .admin-items-table .table-head div:nth-child(4), .adminpanel-page[data-page="support"] .admin-items-table .table-body .table-row div:nth-child(4) {
    width: 15%;
}

.adminpanel-page[data-page="support"] .admin-items-table .table-head div:nth-child(5), .adminpanel-page[data-page="support"] .admin-items-table .table-body .table-row div:nth-child(5) {
    width: 7%;
}

.adminpanel-page[data-page="support"] .admin-items-table .table-head div:nth-child(6), .adminpanel-page[data-page="support"] .admin-items-table .table-body .table-row div:nth-child(6) {
    width: 11%;
}

.adminpanel-page[data-page="support"] .admin-items-table .table-head div:nth-child(7), .adminpanel-page[data-page="support"] .admin-items-table .table-body .table-row div:nth-child(7) {
    width: 23%;
}

.adminpanel-page[data-page="support"] .admin-items-table .table-body .table-row div {
    font-weight: 600;
    color: #a4a6ab;
}

.support-btn-view {
    background: #403dec;
    padding: 5px 18px;
    width: unset !important;
    border-radius: 2px;
    color: #fff !important;
    cursor: pointer;
}

.adminpanel-page[data-page="support"] .admin-items-table .table-body .table-row div:nth-child(7) {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.adminpanel-page[data-page="support"] h3.admintitle:nth-child(3) {
    margin-top: 17px;
}

.ticket-cats {
    width: 55%;
    color: #fff;
    font-weight: 600;
}

.tcadmin-body {
    width: 100%;
}

.tcadmin-row {
    display: flex;
    width: 100%;
    padding: 6px 0px;
    font-size: 14px;
    color: #a4a6ab;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.tcadmin-body .tcadmin-row:nth-child(even) {
    background: #1c1f26;
}

.tcadmin-btn {
    background: #3e4148;
    padding: 3px 13px;
    color: #fff;
    border-radius: 3px;
    cursor: pointer;
    font-size: 12px;
    position: relative;
}

.admin-input {
    width: 100%;
    padding: 12px 13px;
    border-radius: 3px;
    border: none;
    background: #292c35;
    color: #fff;
    outline: none;
    padding-right: 120px;
}

.tcadmin-btn.add-adminticketbtn {
    position: absolute;
    right: 2px;
    background: #403dec;
    font-size: 14px;
    padding: 7px 13px;
}

.tcadmin-head {
    padding: 6px 0px;
}
.site-page[data-page="adminpanel"] {
    height: 100%;
}
#support .modal-dialog {
    max-width: 1000px;
}

.create-ticket-btn {
    color: #fff;
    background: #1976d2;
    margin-left: auto;
    padding: 8px 26px;
    border-radius: 2px;
    margin-right: 5px;
    font-weight: 600;
    cursor: pointer;
}

.sht-item {
    color: #fff;
    font-weight: 700;
    font-size: 18px;
    padding: 10px;
}

.support-head-t {
    display: flex;
    align-items: center;
}

.support-head-t .sht-item:nth-child(1), .support-body-t .sbt-item:nth-child(1) {
    width: 20%;
}

.support-head-t .sht-item:nth-child(2), .support-body-t .sbt-item:nth-child(2) {
    width: 15%;
}

.support-head-t .sht-item:nth-child(3), .support-body-t .sbt-item:nth-child(3) {
    width: 15%;
}

.support-head-t .sht-item:nth-child(4), .support-body-t .sbt-item:nth-child(4) {
    width: 20%;
}

.support-head-t .sht-item:nth-child(5), .support-body-t .sbt-item:nth-child(5) {
    width: 30%;
}

.sbt-item {
    color: #909297;
    padding: 10px;
}

.support-body-t {
    display: flex;
    align-items: center;
}

.sbt-btn {
    color: #fff;
    background: #8a8c92;
    padding: 5px 15px;
    border-radius: 2px;
    font-weight: 600;
    cursor: pointer;
}

.support-body-t .sbt-item:nth-child(5) {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.ntri-label {
    display: block;
    font-weight: 700;
    color: #87898e;
    margin-bottom: 5px;
}

.ntri-input {
    font-size: 14px;
    font-weight: 600;
    color: #eaeaea;
    width: 100%;
    height: 40px;
    padding: 0 10px;
    outline: none;
    background: #292c35;
    border: none;
    border-radius: 2px;
    box-sizing: border-box;
}

.ntri-select {
    font-size: 14px;
    font-weight: 600;
    color: #eaeaea;
    width: 100%;
    height: 40px;
    padding: 0 10px;
    outline: none;
    background: #292c35;
    border: none;
    border-radius: 2px;
    box-sizing: border-box;
}

.ntri-btn.cancel-ntri {
    background: #7d7f86;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-weight: 800;
    font-size: 16px;
    color: #fff;
    height: 40px;
    line-height: 40px;
    padding: 0 20px;
    box-sizing: border-box;
    border: none;
    border-radius: 3px;
    outline: none;
    text-decoration: none;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.ntri-btns {
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
}

.ntri-btn.save-ntri {
    background: #4caf50;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-weight: 800;
    font-size: 16px;
    color: #fff;
    height: 40px;
    line-height: 40px;
    padding: 0 20px;
    box-sizing: border-box;
    border: none;
    border-radius: 3px;
    outline: none;
    text-decoration: none;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-left: 5px;
}

#supportView .modal-dialog {
    max-width: 700px;
}

.label-vti {
    font-weight: 700;
    margin-right: 10px;
    color: #949494;
}

.data-vti {
    color: #fff;
    font-weight: 500;
}

.vti-item {
    display: flex;
}

.view-support-messages {
    margin-top: 15px;
    background: #292e37;
    max-height: 350px;
    overflow: auto;
    padding: 10px;
    box-sizing: border-box;
}

.vs-msg {
    overflow: hidden;
    padding: 10px;
    margin-bottom: 10px;
    background: #262932;
}

.vsm-ava-img {
    flex-shrink: 0;
    width: 20px;
    height: 20px;
    margin-right: 10px;
    border-radius: 100%;
}

.vsmsg-userinfo {
    color: #fff;
    font-size: 16px;
    font-weight: 700;
    display: flex;
    align-items: center;
}

.vsmsg-date {
    display: flex;
    margin-left: auto;
    flex-shrink: 0;
    font-size: 14px;
    color: #fff;
    opacity: .5;
}

.v-msg-txt {
    margin-top: 10px;
    word-break: break-all;
    font-size: 17px;
    font-weight: 500;
    color: #8a8d91;
}

.ssmsg-input {
    font-size: 14px;
    font-weight: 600;
    color: #eaeaea;
    height: 40px;
    padding: 0 10px;
    outline: none;
    background: #292c35;
    border: none;
    border-radius: 2px;
    box-sizing: border-box;
    flex-grow: 1;
}

.ssmsg-send {
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-weight: 800;
    font-size: 16px;
    color: #fff;
    height: 40px;
    line-height: 40px;
    padding: 0 20px;
    box-sizing: border-box;
    border: none;
    border-radius: 3px;
    outline: none;
    text-decoration: none;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    background: #4caf50;
}

.send-support-message-cont {
    display: flex;
    align-items: center;
    margin-top: 5px;
}
.site-page-header {
    background: #13141b;
    box-sizing: border-box;
    border-bottom: 2px solid #ca0001;
    color: #fff;
    font-weight: 800;
    font-size: 18px;
    padding: 0 20px;
    height: 50px;
    line-height: 50px;
    width: 100%;
    display: flex;
    align-items: center;
}

.site-page-header i {
    color: #ca0001;
    margin-right: 5px;
}

.faq-body {
    flex: 1 1;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto;
    height: 100%;
}

.faq-body-item {
    position: relative;
    margin-bottom: 10px;
    background: #1c1d25;
    padding: 20px;
    border-radius: 4px;
}

.fbi-titlesec {
    font-weight: 700;
    color: #fff;
    margin-top: 0;
    font-size: 22px;
}

.fbi-titlesec:before {content: '';width: 25px;height: 5px;background: #ca0000;display: inline-block;vertical-align: middle;margin-right: 5px;margin-bottom: 5px;}

.fbi-bodysec {
    margin-top: 5px;
    margin-bottom: 15px;
    color: #7d7f86;
    font-weight: 700;
    font-size: 18px;
}

.site-page[data-page="faq"] {
    height: 100%;
    position: relative;
}

.tos-date {
    color: #55565a;
    font-size: 16px;
    font-weight: 600;
    margin-left: auto;
}

.tos-body {
    flex: 1 1;
    overflow: auto;
    padding: 20px;
    margin: 0 10px;
    background: #191b23;
    border-left: 1px solid #2d2e35;
    border-right: 1px solid #2d2e35;
    box-sizing: border-box;
}

.tos-subtitle {
    font-size: 18px;
    color: #fff;
    font-weight: 600;
    margin-bottom: 15px;
}

.highl {
    color: #b8232f;
}

.disc-txt-tos {
    font-size: 18px;
    color: #fff;
    margin: 0 0 10px;
    font-weight: 600;
}

.tos-title {
    position: relative;
    font-weight: 800;
    font-size: 28px;
    color: #fff;
}

.tos-txt {
    margin-bottom: 15px;
    color: #7d7f86;
    font-weight: 700;
    font-size: 18px;
    margin: 0 0 10px;
    font-weight: 600;
    margin-bottom: 25px;
}

.tos-title:before {
    position: absolute;
    top: 12.5%;
    left: -20px;
    width: 3px;
    height: 75%;
    content: " ";
    background: #ca0000;
}
@media all and (max-width: 1364px){
    .user-menu-item i {
        display: none;
    }
}

@media all and (max-width: 1255px){
    .nav.user-menu {
        flex-wrap: wrap;
        width: 100%;
        justify-content: flex-start;
        bottom: 0px;
    }

    .user-menu-item {
        margin-bottom: 2px;
    }

    .nav.user-menu .user-menu-item:nth-child(1) {
        margin-left: -15px;
    }

    .user-logged-in-menu-cont {
        flex-direction: row;
        flex-wrap: wrap;
        width: 258px;
        align-items: flex-end;
        justify-content: flex-start;
    }

    .username-header {
        right: unset;
        left: -32px;
        bottom: -1px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        width: 123px;
    }

    .user-xpbar-cont {
        bottom: 0px;
        width: 135px;
    }
}

@media all and (max-width: 1234px){
    .jackpot-betting-area {
        flex-wrap: wrap;
    }

    .jackpot-circle-area {
        order: 1;
    }

    .jackpot-game-data {
        order: 2;
        max-width: unset;
    }
}
.mobile-toggles {
    display: none;
}

@media all and (max-width: 1050px){
    .chat {
    transform: translateX(365px);
}

.main-app {
    right: 0;
}

.header-selection-right.hr-bottom {
    display: none;
    opacity: 0;
}

.mobile-toggles {
    display: block;
    position: absolute;
    right: 0;
    top: 0;
}

.mobileChatToggle {}

.mobile-toggle {
    color: #4d515f;
    font-size: 22px;
    position: absolute;
    right: 25px;
    top: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    height: -webkit-fill-available;
    cursor: pointer;
}

.mobile-toggle.mobileMenuToggle {
    display: none;
}

.mobile-toggle.closeMenuToggle {
    display: none;
}

.mobile-toggle.closeChatToggle {
    display: none;
}

.items-container {
    width: calc(100% - 32px);
}

.mobileChatOpened .chat {
    transform: translateX(0px);
}
    .user-logged-in-menu-cont {width: 345px;justify-content: flex-start;}

h3.username-header {
    left: -15px;
}

.user-xpbar-cont {
    left: 0;
}

ul.nav.main-menu {
    width: 210px;
}
    .mobileChatOpened .header-selection-right.hr-bottom {
    transition-delay: 300ms;
    transition: 300ms;
    display: flex;
    opacity: 1;
    width: 300px !important;
    position: absolute;
    bottom: -40px;
    right: 0;
}
}

@media all and (max-width: 960px){
    .mobile-toggle.mobileMenuToggle {
    display: flex !important;
    right: 70px;
}

.header-menu-sec {position: absolute;top: 100px;left: 0;right: 0;-webkit-transform: skewX(0);transform: skewX(0);padding: 0px 0px;}

.menu-item {
    -webkit-transform: skewX(0deg);
    transform: skewX(0deg);
}

ul.nav.main-menu {
    width: 100%;
    height: 0;
    overflow: hidden;
    transition: 300ms;
    height: 0px;
}

a.menu-txt {
    padding: 12px 0;
}

.mobileMenuOpened .nav.main-menu {
    height: 138px;
}
}

#probFair .modal-dialog {
    max-width: 700px;
}

.probfairness-text {
    color: #fff;
    font-size: 17px;
    line-height: 28px;
}

#probFair .modal-body {
    padding-top: 0;
}

















/*
Mobile?
*/


@media all and (max-width: 855px){

.footer {
    height: 65px;
    flex-direction: column;
    padding: 0;
    justify-content: center;
    align-items: center;
}

.signed-in-footer {
    flex-grow: 0;
}
}

@media all and (max-width: 873px){
    header.main-header {
    height: 136px;
    align-items: flex-start;
}

.user-logged-in-menu-cont {
    width: 100%;
    align-items: center;
}

.header-left-sec {
    width: 100%;
}


}

@media all and (max-width: 509px){
h3.username-header {
    /* display: none; */
}

.user-logged-in-menu-cont {
    /* align-items: self-start; */
    /* margin-top: 10px; */
    /* margin-left: -28px; */
}
}
@media all and (max-width: 525px){
.jackpot-betting-area {
    padding: 0 12px;
}
}

@media all and (max-width: 596px){
    .chart-cont {
    width: 100%;
    height: unset;
    display: flex;
}

.chart-cont:before {
    content: unset;
}
}

@media all and (max-width: 476px){
.spinner-inner {
    width: 280px;
    height: 280px;
    background: unset;
}

.jackpot-spinner:before {
    top: -45px;
    position: fixed;
}
}

@media all and (max-width: 445px){
.jackpot-spinner:before {
    top: -26px;
    position: fixed;
}
.jackpot-spinner {left: -29px;right: -27px;width: unset;height: unset;top: -27px;bottom: -29px;}
}
@media all and (max-width: 414px){
.jackpot-spinner:before {
    top: -13px;
}
}
@media all and (max-width: 410px){
.jackpot-spinner:before {
    top: -8px;
}
}
@media all and (max-width: 384px){
.jackpot-spinner:before {
    top: 0;
}
}
@media all and (max-width: 375px){
    .jackpot-spinner:before {
    top: 3px;
}
}

@media all and (max-width: 1050px){
.chat {
    z-index: 99;
}
}


@media all and (max-width: 576px){
    .coinflip-current-stats {
        display: none;
    }

}
@media all and (max-width: 576px){
    .coinflip-header {
        height: unset;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: flex-start;
        border: none !important;
    }

    .coinflip-tabs {
        width: 100%;
        flex-direction: column;
    }

    .create-game-btn {
        margin: 6px 20px;
        margin-bottom: 10px;
    }
}

@media all and (max-width: 597px){
.chart-cont:before {
    content: '' !important;
    width: 87%;
    height: 0;
    padding-top: 87%;
}
}
@media all and (max-width: 575px){
    .items-container {
    margin: 18px 15px;
    width: calc(100% - 30px);
    margin-top: 47px;
}

.sign-in-footer-sec {
    display: none;
}

.footer {
    height: 40px;
}

.jackpot-holder {
    height: 0 !important;
    width: 100%;
    padding-top: 100%;
}

.chart-cont {
    position: absolute;
    left: 0;
    right: 0;
    top: -25px;
    bottom: 0;
}

.spinner-inner {
    position: absolute;
    left: 0;
    right: 0;
    top: -15px;
    bottom: 0;
    margin: auto;
    width: 433px;
    height: 433px;
}
}

@media all and (max-width: 522px){
.spinner-inner {
    width: 398px;
    height: 398px;
}

.jackpot-holder {
    margin: 20px 0px;
}
}
@media all and (max-width: 478px){
    .spinner-inner {
    width: 362px;
    height: 362px;
    }
}


@media all and (max-width: 476px){
.spinner-inner {
    background: #1e2028;
}
.jackpot-spinner:before {
    top: -24px;
}
}

@media all and (max-width: 445px){
.jackpot-spinner:before {
    top: 2px;
}
.chart-cont:before {width: 92%;padding-top: 92%;}

.spinner-inner {
    width: 336px;
    height: 336px;
}
}

@media all and (max-width: 408px){
.spinner-inner {
    width: 307px;
    height: 307px;
}

.chart-cont:before {
    width: 88%;
    padding-top: 88%;
}
}

@media all and (max-width: 385px){
.spinner-inner {
    width: 286px;
    height: 286px;
}
}

#jackpotDeposit .modal-dialog, #coinflipDeposit .modal-dialog {
    width: 100%;
    max-width: 712px;
}

@media all and (max-width: 635px){
.modal-footer {
    flex-wrap: wrap;
    justify-content: center;
}

.jackpot-deposit-searchbar, .coinflip-deposit-searchbar {
    width: 100%;
    margin-bottom: 10px;
}

.jpd-btn.jp_refresh, .cfd-btn.cf_refresh {
    margin-left: 0 !important;
}

.jackpot-deposit-text, .coinflip-deposit-text {
    padding: 30px 0px;
}
.deposit-skin-item {
    width: 31%;
    margin: 1%;
}
}
@media all and (max-width: 375px){
.jpd-btn.deposit, .cfd-btn.deposit {
    margin-top: 10px;
}
}

@media all and (max-width: 590px){

.cagi-price {
    margin-left: auto;
}

.cagi-items {
    justify-content: center;
}
}

#myHistory .modal-dialog {
    width: 100%;
    max-width: 1000px;
}

@media all and (max-width: 783px){
    .history-nav {
    flex-wrap: wrap;
    justify-content: center;
}

.history-nav-item {
    margin: 3px;
}

}

@media all and (max-width: 630px){
    .modal-title {
    width: 100%;
}

#myHistory .modal-header {
    flex-wrap: wrap;
}

.myhistory-details {
    margin-left: 0px;
    margin-top: 10px;
}
}
@media all and (max-width: 590px){
    .cag-header {
    display: none;
}

}
.header-hld-sec {
    display: flex;
    align-items: flex-end;
    flex-grow: 1;
}
@media all and (max-width: 900px){
    .header-hld-sec {
    position: fixed;
    z-index: 99;
    width: 320px;
    right: 0;
    top: 0;
    bottom: 0;
    background: #21242f;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.16);
    align-items: flex-start;
    flex-wrap: wrap;
    flex-direction: column;
    transform: translateX(365px);
    transition: 400ms;
}

.header-menu-sec:after {
    content: unset;
}

.user-logged-in-cont {
    order: 1;
    left: 0px;
    -webkit-transform: skewX(0deg);
    transform: skewX(0deg);
    border-right: none;
    width: 80px;
    height: 80px;
    flex-shrink: 0;
}

.header-left-sec {
    flex-wrap: wrap;
    width: 100%;
}

.user-logged-in-menu-cont {
    order: 2;
    width: calc(100% - 80px);
    flex-grow: 1;
    align-items: center;
}

.header-menu-sec {
    order: 3;
    padding-top: 0;
    position: unset;
    width: 100%;
}

.user-logged-in-ava-header {
    -webkit-transform: skewX(0deg);
    transform: skewX(0deg);
    width: 100%;
    left: 0;
    top: 0;
}

h3.username-header {
    left: unset;
    top: unset;
    bottom: unset;
    padding-left: 10px;
    padding-top: 15px;
    width: 100%;
    font-size: 15px;
    color: #cacacc;
}

.user-xpbar-cont {
    width: calc(100% - 50px);
    left: 18px;
    margin-top: 8px;
}

ul.nav.user-menu {
    width: calc(100% + 78px);
    margin-top: 20px;
    margin-left: -78px;
}

li.user-menu-item {
    -webkit-transform: skewX(0deg);
    transform: skewX(0deg);
    width: 100%;
    border: none !important;
    margin: 0 !important;
}

.user-menu-item a {
    -webkit-transform: skewX(0deg);
    transform: skewX(0deg);
    width: 100%;
    color: #78797a;
    padding: 7px 12px;
}

.header-right-sec {height: unset;margin-left: unset;width: 100%;align-items: unset;justify-content: unset;}

ul.nav.main-menu {
    height: unset;
    padding: 0;
}

.menu-txt {
    width: 100%;
    color: #78797a;
    padding: 7px 12px !important;
    font-size: 14px;
}

.user-menu-item i {
    display: unset;
    margin-right: 10px;
}

.menu-item {
    width: 100%;
    border: none !important;
    margin: 0 !important;
    background: #1a1c23;
}

.menu-item:before {
    content: unset;
}

a.menu-txt i {
    margin-right: 7px;
}

.header-selection-right.hr-bottom {
    display: flex !important;
    opacity: 1 !important;
}

.mobile-toggle.closeMenuToggle {
    z-index: 99;
    color: #6b6e78;
    top: -25px;
    bottom: unset;
    right: 28px;
    font-weight: 100;
}

.mobileMenuOpened .header-hld-sec {
    transform: translateX(0px);
}

.mobileMenuOpened .mobile-toggle.closeMenuToggle {
    display: flex;
}
    .chat {
    top: -80px;
    z-index: 202;
    bottom: -50px;
    height: unset;
    background: #21242f;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.16);
}

header.main-header {
    height: 80px;
}

img.logo {width: 130px;}

.header-logo-sec {
    padding: 0px 0px;
}

.main-app-cont {
    top: 80px;
}

.mobile-toggle.closeChatToggle {
    z-index: 99;
    color: #9ea0a7;
    top: 20px;
    bottom: unset !important;
    right: 28px;
    font-weight: 100;
    height: unset;
    width: 45px;
    height: 45px;
    background: #1e2028;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

.mobileChatOpened .mobile-toggle.closeChatToggle {
    display: flex;
    z-index: 999;
}
    .cag-item {
    height: unset;
    padding: 20px 20px;
    flex-wrap: wrap;
}

.cagi-users {
    order: 1;
}

.cagi-price {
    order: 2;
    margin-left: auto;
}

.cagi-actions {
    order: 3;
}

.cagi-items {
    order: 4;
    width: 100%;
    flex: unset;
    justify-content: center;
    padding-top: 10px;
}
    .mobileMenuOpened:before, .mobileChatOpened:before {content: '';position: fixed;top: 0;bottom: 0;left: 0;right: 0;background: rgba(0, 0, 0, 0.3);z-index: 201;}
    .cag-body, .cag-body-2 {
    height: calc(100vh - 340px);
}
}


@media all and (max-width: 550px){
    .cagi-actions {
    width: 100%;
    margin-top: 10px;
    justify-content: center;
}
}

@media all and (max-width: 576px){
    .coinflip-tab {
    line-height: 45px;
    border-bottom: none !important;
    font-size: 15px;
}

.coinflip-tab i {
    padding-right: 10px;
}
}

@media all and (max-width: 590px){
.cag-body, .cag-body-2 {
    height: calc(100vh - 303px);
}
}

@media all and (max-width: 576px){
.cag-body, .cag-body-2 {
    height: calc(100vh - 290px);
}
}
@media all and (max-width: 575px){
.cag-body, .cag-body-2 {
    height: calc(100vh - 276px);
}
}
html,
body {
    overflow-x: hidden;
} 
.adminpanel-page[data-page="players"] .admin-items-table .table-head div:nth-child(4), .adminpanel-page[data-page="players"] .admin-items-table .table-body .table-row div:nth-child(4) {
    width: 5%;
}

.adminpanel-page[data-page="players"] .admin-items-table .table-head div:nth-child(5), .adminpanel-page[data-page="players"] .admin-items-table .table-body .table-row div:nth-child(5) {
    width: 13%;
}

.adminpanel-page[data-page="players"] .admin-items-table .table-head div:nth-child(6), .adminpanel-page[data-page="players"] .admin-items-table .table-body .table-row div:nth-child(6) {
    width: 15%;
}

.adminpanel-page[data-page="players"] .admin-items-table .table-head div:nth-child(7), .adminpanel-page[data-page="players"] .admin-items-table .table-body .table-row div:nth-child(7) {
    width: 21%;
    line-height: 25px;
}

.adminpanel-page .admin-items-table .table-body .table-row div, .admin-items-table .table-head div {
    padding: 10px 20px;
}

.coinflip_searchquery, .jackpot_searchquery {
    background: #1c1f26;
    border: none;
    padding: 10px 20px;
    margin-top: 10px;
    outline: none;
    color: #fff;
    border-radius: 4px;
}

.adminpanel-page[data-page="coinflips"] .admin-items-table .table-head div:nth-child(1), .adminpanel-page[data-page="coinflips"] .admin-items-table .table-body .table-row div:nth-child(1) {
    width: 6%;
}

.adminpanel-page[data-page="coinflips"] .admin-items-table .table-head div:nth-child(2), .adminpanel-page[data-page="coinflips"] .admin-items-table .table-body .table-row div:nth-child(2) {
    width: 25%;
}

.adminpanel-page[data-page="coinflips"] .admin-items-table .table-head div:nth-child(3), .adminpanel-page[data-page="coinflips"] .admin-items-table .table-body .table-row div:nth-child(3) {
    width: 25%;
}

.adminpanel-page[data-page="coinflips"] .admin-items-table .table-head div:nth-child(4), .adminpanel-page[data-page="coinflips"] .admin-items-table .table-body .table-row div:nth-child(4) {
    width: 25%;
}

.adminpanel-page[data-page="coinflips"] .admin-items-table .table-head div:nth-child(5), .adminpanel-page[data-page="coinflips"] .admin-items-table .table-body .table-row div:nth-child(5) {
    width: 6%;
}

.adminpanel-page[data-page="coinflips"] .admin-items-table .table-head div:nth-child(6), .adminpanel-page[data-page="coinflips"] .admin-items-table .table-body .table-row div:nth-child(6) {
    width: 7%;
}

.adminpanel-page[data-page="coinflips"] .admin-items-table .table-head div:nth-child(7), .adminpanel-page[data-page="coinflips"] .admin-items-table .table-body .table-row div:nth-child(7) {width: 6%;}

.coinflip_search_button, .jackpot_search_button {
    background: #b8232f;
    border: none;
    color: #fff;
    border-radius: 4px;
    padding: 9px 14px;
    margin-left: 5px;
    font-size: 14px;
}

.coinflip_search, .jackpot_search {
    background: #1c1f26;
    border: none;
    padding: 10px 20px;
    margin: 0 10px;
    margin-top: 10px;
    outline: none;
    color: #fff;
    border-radius: 4px;
}

.coinflip_filter_by, .jackpot_filter_by {
    background: #1c1f26;
    border: none;
    padding: 10px 20px;
    margin: 0 10px;
    margin-top: 10px;
    outline: none;
    color: #fff;
    border-radius: 4px;
}

.coinflip_filter, .jackpot_filter {
    background: #1c1f26;
    border: none;
    padding: 10px 20px;
    margin: 0 10px;
    margin-top: 10px;
    outline: none;
    color: #fff;
    border-radius: 4px;
    margin-right: 0;
}

.adminpanel-page[data-page="jackpots"] .admin-items-table .table-head div:nth-child(2), .adminpanel-page[data-page="jackpots"] .admin-items-table .table-body .table-row div:nth-child(2) {
    width: 45%;
}

.adminpanel-page[data-page="jackpots"] .admin-items-table .table-head div:nth-child(1), .adminpanel-page[data-page="jackpots"] .admin-items-table .table-body .table-row div:nth-child(1) {
    width: 10%;
}

.adminpanel-page[data-page="jackpots"] .admin-items-table .table-head div:nth-child(3), .adminpanel-page[data-page="jackpots"] .admin-items-table .table-body .table-row div:nth-child(3) {
    width: 15%;
    text-align: center;
}

.adminpanel-page[data-page="jackpots"] .admin-items-table .table-head div:nth-child(4), .adminpanel-page[data-page="jackpots"] .admin-items-table .table-body .table-row div:nth-child(4) {
    width: 15%;
    text-align: center;
}

.adminpanel-page[data-page="jackpots"] .admin-items-table .table-head div:nth-child(5), .adminpanel-page[data-page="jackpots"] .admin-items-table .table-body .table-row div:nth-child(5) {
    width: 15%;
    text-align: center;
}